body {
	font-family: 'Open Sans', sans-serif;
	color: black ;
	font-size: 15px ;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li, {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

p {
	line-height: 1.6em;
}

.container {
	width: 1171px;
	margin: 0 auto;
}

.header {
	background: rgba(78,189,254,1);
	background: -moz-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(78,189,254,1) 1%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(78,189,254,1)), color-stop(1%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(78,189,254,1) 1%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(78,189,254,1) 1%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(left, rgba(78,189,254,1) 0%, rgba(78,189,254,1) 1%, rgba(55,144,217,1) 100%);
	background: linear-gradient(to right, rgba(78,189,254,1) 0%, rgba(78,189,254,1) 1%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 62px;
	padding-bottom: 150px;
	color: #ffff;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer {
	margin-top: 176px;
	width: 490px;
}

.intro {
	margin-bottom: 38px;
	margin-top: 38px;
	width: 250px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background: #ffd429; 
	color: black ;
	border-radius: 0px;
	display: block;
	width: 220px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	transition: 0.5s ease;
}

.btn:hover {
	background: #FFA500
}

.desktop{
	margin-top: 45px;
}

.learn {
	padding-top: 110px;
	padding-bottom: 120px;
}

.section-title {
	font-size: 30px;
	margin-left: 400px;
}

.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.skill{
	width: 295px;
	background: url('../img/icon1.jpg') no-repeat center top;
	padding-top: 100px;
}

.skill-title {
	font-size: 20px;
}

.skill-text {
	margin-top: 10px;
}

.skill-travel {
	width: 275px;
	background: url('../img/icon2.jpg') no-repeat center top;
}

.skill-values {
	width: 285px;
	background: url('../img/icon3.jpg') no-repeat center top; 
}

.mail {
	background: #ecf3f8;
	padding-top: 120px;
	padding-bottom: 100px;
}
.input {
	width: 345px;
	border: 1px solid #e2e4e6;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 4px;
	height: 57px;
}

.section-titles{
	margin-bottom: 60px;
	margin-left: 310px;
}
.form {
	margin-left: 310px;
}

.btn-form {
	width: 345px;
	border: 0px;
	cursor: pointer;
	display: block;
	margin-left: 43px;
	
}

.footer {
	padding: 60px 0;
	background: #164d7a;
}

.credits {
	color: #ffff;
	font-size: 14px;
	margin: 0px;
	margin-left: 350px; 
}